*       text=auto

# text items
*.txt   text
*.md    text linguist-language=Markdown
*.qml   text linguist-language=QML

# scripts

#   POSIX
*.sh    text eol=lf linguist-language=Shell
#   Win32
*.bat   text eol=crlf linguist-language=Batchfile
*.cmd   text eol=crlf linguist-language=Batchfile
*.ps1   text eol=crlf linguist-language=PowerShell
*.nsi   text eol=crlf linguist-language=NSIS

# archives
*.zip   binary

# visual items
*.jpg   binary
*.png   binary
*.jpeg  binary
*.ico   binary
*.webp  binary
*.svg   binary
*.gif   binary
*.ttf   binary
*.otf   binary
*.eot   binary

# qt resource file
_resources_bundled.py   -diff linguist-generated=true
distributed-license.txt -diff linguist-generated=true