[MESSAGES CONTROL]
disable=invalid-name, ; Qt unfortunately uses camalCase :(
        attribute-defined-outside-init,
        missing-function-docstring,
        no-name-in-module,
        unspecified-encoding,
        missing-module-docstring,
        missing-class-docstring,
        unused-argument,
        c-extension-no-member,
        global-statement,
        missing-final-newline,
        too-few-public-methods,
        too-many-instance-attributes,
        useless-return,
        too-many-arguments,
        too-many-positional-arguments,
        too-many-lines,
        implicit-flag-alias